/* General Styles */
body {
    margin: 0;
    height: 100vh; /* Ensure it covers the full viewport height */
    background: linear-gradient(lightskyblue, white); /* Modern gradient syntax */
    font-family: Arial, sans-serif;
}

/* Heading Styles */
h1 {
    font-weight: bold;
}

/* Container Styles */
.container {
    width: 100%;
    overflow: hidden;
}

/* Bold Class Styles */
.boldclass {
    font-weight: bold;
}

/* Horizontal Rule Styles */
hr {
    border: none;
    height: 2px;
    background-color: #333; /* Modern Browsers */
}

/* Button Styles */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #41a8d4;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #333;
}

.button:hover {
    background-color: #3498db;
}

/* Specific Text Alignments */
h1, h2, p {
    text-align: center;
}

/* Right-Aligned Text */
.contact-info {
    float: right;
    text-align: right;
}
